org/*.el
*~
bookmarks
url/*
/cider-history
/local/mellon.el.gpg
/elpa/archives/
*.elc
/elpa/*.txt
/.org-id-locations
/var/*
/ac-comphist.dat
/jabber-avatar-cache/*
/jabber-history/*
/emms/*
/projectile-bookmarks.eld
/.mc-lists.el
/org-clock-save.el
/tramp
/erc/logs/
/bbdb
/eshell
/org-gcal/
/session.*
